/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ngx-charts {
  height: 100% !important;
  height: -moz-available !important;
  height: -webkit-fill-available !important;
  height: fill-available !important;
  width: auto !important;
}
