#divHome {
  width: 500px;
  height: 600px;
  text-align: center;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: antiquewhite;
  padding: 2%;
}

.def {
  background-color: aliceblue;
  padding: 1%;
  border: solid;
}
