<mat-form-field *ngIf="transactionsBlock.length > 0">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  *ngIf="transactionsBlock.length > 0"
>
  <!-- Sender Column -->
  <ng-container matColumnDef="sender">
    <th mat-header-cell *matHeaderCellDef>Sender</th>
    <td mat-cell *matCellDef="let transac">{{ transac.sender }}</td>
  </ng-container>

  <!-- recipient Column -->
  <ng-container matColumnDef="recipient">
    <th mat-header-cell *matHeaderCellDef>Recipient</th>
    <td mat-cell *matCellDef="let transac">{{ transac.recipient }}</td>
  </ng-container>

  <!-- value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let transac">{{ transac.value }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="container" id="contBlock" *ngFor="let block of blocks">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Block N°{{ block.index }}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4" style="    text-align: left;">
          <li>
            <strong>Date: </strong
            >{{ block.timestamp * 1000 | date: "dd/MM/yyyy" }}
          </li>
          <li><strong>Id:</strong> {{ block.hash }}</li>
          <li><strong>Difficulty:</strong> {{ block.difficulty }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
          Détails
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="blocks?.length == 0">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Aucun block trouvé</h4>
      </div>
    </div>
  </div>
</div>
